body {
  background-color:#2E2E2E;
}

/*Div for playable notes*/
.NoteBox {
  margin: auto;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.PlayableNoteBoxActive {
  background-color: aqua;
}

.PlayableNoteBoxInactive {
  background-color: blueviolet;
}

