body {
  background-color:#2E2E2E;
}

/*Div for playable notes*/
.NoteBox {
  margin: auto;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: aqua;
}

.PlayableNoteBoxActive {
  background-color: blueviolet;
}

.NoteIsPlaying {
  border: 2px solid white;
}

.SoundboardContainer {
  display: flex;
}

.NoteRow {
  display: flex;
}

